@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

$body-color: #eeebdd;
$body-black: #1b1717;
$body-blue: #169dc2;
$body-darkblue: #00255e;

h1 {
    color: $body-black;
}

h2 {
    color: $body-blue;
}

* {
    box-sizing: border-box
}

//header start
.header {
    background-color: white;
    box-shadow: 1px 1px 20px 0 $body-black;
    position: fixed;
    width: 100%;
    z-index: 3;

    .navbar-item {
        color: $body-black;
        font-weight: bold;
        position: relative;
    }

    .navbar-item:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $body-blue;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out;
    }

    .navbar-item:hover:before {
        visibility: visible;
        transform: scaleX(1);
        width: 100%;
    }

    .navbar-logo {
        width: 70px;
        display: block;
        float: left;
        margin: 10px;
        text-decoration: none;
    }

    li {
        a {
            display: block;
            border-right: 2px solid white;
            text-decoration: none;
            letter-spacing: 0.15em;
            position: relative;
            margin: 20px 40px 0px 50px
        }

        .fa {
            padding: 6px;
            font-size: 20px;
            width: 35px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
            background-color: $body-blue;
            color: white;

        }

        .fa:hover {
            //
            box-shadow: 0 3px $body-darkblue;
            transform: translateY(2px);
        }
    }

    .social-media {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: white;
        text-decoration: none;

        li {
            a {
                display: block;
                border-right: 2px solid white;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.15em;
                position: relative;
                margin: 20px 0px 0px 20px;
            }
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: white;
        margin: 5px;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        margin-right: 100px;
        margin-top: 10px
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        margin: 10px;

        .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }

        .navicon:before,
        .navicon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .navicon:before {
            top: 5px;
        }

        .navicon:after {
            top: -5px;
        }
    }

    .menu-btn {
        display: none;
    }

    .menu-btn:checked~.menu {
        max-height: 280px;
    }

    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
}


@media (min-width: 48em) {
    .header {
        .menu {
            clear: none;
            float: left;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }

        li {
            float: left;
        }
    }
}

@media (max-width:600px) {
    .social-media {
        display: none;
    }
}

//header finished

//home start
.home {
    img {
        width: 100%;
    }

    .home-headers {
        margin-top: 120px;

        h6 {
            opacity: 0.8;
        }

        #e-mail {
            padding-right: 5em;
        }

        .home-buttons {
            margin: 40px;
            width: 20%;
        }

        .home-buttons:active {
            box-shadow: 0 5px #333;
            transform: translateY(3px);
        }

        #cv {
            background-color: $body-blue;
            color: white;
        }

        #hire {
            background-color: $body-black;
            color: white;
        }
    }

    .home-features {
        margin-right: 70px;
        width: 200px;
        height: 70px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        letter-spacing: 1.5px;
        color: $body-black;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        padding: 0px 10px;

        i {
            padding-right: 15px;
        }
    }

    .home-features:hover {
        box-shadow: 10px 5px 20px $body-blue;
        transform: translateY(-7px);
    }
}

@media (max-width:600px) {
    .home {
        margin-left: 25px;

        img {
            margin-top: 50px;
            width: 60%;
        }

        .home-headers {
            margin-top: 20px;
        }

        .home-contant {
            display: none;
        }

        #cv {
            width: 100%;
            margin-left: 0;
        }

        #hire {
            display: none;
        }

        .home-features {
            display: none;
        }
    }
}

//home finished

//About start

.about {
    img {
        width: 110%;
    }

    .about-content {
        margin-top: 50px;
    }

    .about-head {
        border-left: 3px solid $body-darkblue;
        margin-left: 100px;
    }

    h3 {
        margin-right: 180px;
    }

    p {
        text-decoration: none;
        margin-left: 100px;
        float: left;
        margin-top: 30px;
        opacity: 0.8;
    }

    h6 {
        float: center;
        font-weight: bold;
        margin-left: 100px;
    }

    .social-media {
        i {
            background-color: $body-darkblue;
            color: $body-color;
            padding: 6px;
            font-size: 20px;
            width: 35px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            position: relative;
            margin: 20px 100px 0px 100px;
            border-radius: 20%;

            a {
                color: $body-black;
                margin-left: 20px;
                letter-spacing: 0.05em;
                text-decoration: none;
                font-size: 15px;

            }

            a:hover {
                border-bottom: 3px solid $body-blue;
                color: $body-black;
            }
        }
    }
}

@media (max-width:600px) {
    .about {
        margin-top: 50px;
        margin-left: 25px;

        .about-head {
            margin-left: 30px;
        }

        h3 {
            margin-right: 0px;
        }

        p {
            margin-left: 20px;
            margin-top: 30px;
            opacity: 0.8;
        }

        img {
            width: 300px;
            margin-left: 25px;
            margin-bottom: 20px;
        }
    }
}

//About finished


//Skills start

.skills {
    .skills-head {
        border-right: 3px solid $body-blue;
        margin-right: 50px;
    }

    p {
        margin-right: 50px;
    }

    .skills-skills {
        margin-right: 50px;
        margin-bottom: 100px;

        p {
            margin-top: 10px;
            margin-bottom: 0px;
            color: $body-black;
            margin-right: 500px;
        }

        .container {
            padding-left: 0;
            width: 100%;
            box-shadow: 2px 1px 2px 2px $body-color;

        }

        .skill {
            text-align: right;
            color: white;
        }

        .css {
            width: 80%;
            background-color: $body-blue;
        }

        .js {
            width: 90%;
            background-color: $body-darkblue;
        }

        .php {
            width: 75%;
            background-color: $body-black;
        }
    }

    .skills-content {
        .card {
            margin-left: 50px;
            -webkit-box-shadow: 1px 0px 10px 0px rgba(27, 23, 23, 0.6);
            -moz-box-shadow: 1px 0px 10px 0px rgba(27, 23, 23, 0.6);
            box-shadow: 1px 0px 10px 0px rgba(27, 23, 23, 0.6);
        }

        img {
            filter: grayscale(80%);
        }

        .card-title {
            font-weight: bold;
        }
    }
}

@media (max-width:600px) {
    .skills {
        .skills-headers {
            margin-left: 50px;
        }

        .skills-content {
            display: none;
        }
    }
}



//Skills finished

//portfolio start



.portfolio {
    .carousel-item {
        margin-left: 25px;
    }

    .portfolio-head {
        color: $body-darkblue;
        font-weight: bold;
        margin-bottom: 40px;
        text-decoration: solid;
        text-transform: uppercase;
        text-decoration: none;
    }
    .portfolio-head:hover{
        border-bottom: 3px solid $body-blue;
    }
    .btn{
        background-color: $body-blue;
        color: white;
    }
}
@media (max-width:600px) {
 .portfolio{
     margin-left: 15px;
 }       
}


//portfolio finished

//footer start

.footer{

}


//footer finished