@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

$body-color: #eeebdd;
$body-black: #1b1717;
$body-blue: #169dc2;
$body-darkblue: #00255e;

h1{
    color: $body-black;
}
h2{
    color: $body-blue;
}
/* header */
.header {
    background-color: white;
    box-shadow: 1px 1px 20px 0 $body-black;
    position: fixed;
    width: 100%;
    z-index: 3;

    .navbar-item {
        color: $body-black;
        font-weight: bold;
        position: relative;
    }

    .navbar-item:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $body-blue;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out;
    }

    .navbar-item:hover:before {
        visibility: visible;
        transform: scaleX(1);
        width: 100%;
    }

    .navbar-logo {
        width: 70px;
        display: block;
        float: left;
        margin: 10px;
        text-decoration: none;
    }

    li {
        a {
            display: block;
            border-right: 2px solid white;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.15em;
            position: relative;
            margin: 20px 50px 0px 50px;
        }

        .fa {
            padding: 6px;
            font-size: 20px;
            width: 35px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
            background-color: $body-blue;
            color: white;
        }

        .fa:hover {
           //
            box-shadow: 0 3px $body-darkblue;
            transform: translateY(2px);
        }
    }

    .social-media {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: white;
        text-decoration: none;

        li {
            a {
                display: block;
                border-right: 2px solid white;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.15em;
                position: relative;
                margin: 20px 0px 0px 20px;
            }
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: white;
        margin: 5px;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        margin-right: 100px;
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        margin: 10px;

        .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }

        .navicon:before,
        .navicon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .navicon:before {
            top: 5px;
        }

        .navicon:after {
            top: -5px;
        }
    }

    .menu-btn {
        display: none;
    }

    .menu-btn:checked~.menu {
        max-height: 280px;
    }

    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
}


@media (min-width: 48em) {
    .header {
        .menu {
            clear: none;
            float: left;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }

        li {
            float: left;
        }
    }
}

@media (max-width:600px) {
    .social-media {
        display: none;
    }
}

//header is finished

//home start
.home{
    img{
        width: 100%;
    }
    .home-headers{
        margin-top:120px;
        h6{
            opacity: 0.8;
        }
        #e-mail{
            padding-right: 5em;
        }
        .home-buttons{
            margin: 40px;
            width: 20%;
        }
        .home-buttons:active{ 
            box-shadow: 0 5px #333;
            transform: translateY(3px);
        }
        #cv{
            background-color: $body-blue;
            color: white; 
        }
        #hire{
            background-color: $body-black;
            color: white;
        }
    }
    .home-features{
        margin-right: 70px;
        width: 200px;
        height: 70px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        letter-spacing: 1.5px;
        color: $body-black;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
       padding: 0px 10px;
    i{
        padding-right: 15px;
    }
}
.home-features:hover {
    box-shadow: 10px 5px 20px $body-blue;
    transform: translateY(-7px);
  }
}

